.Friends {
    min-height: 100vh;
    margin-bottom: 138px;
}

.Breadcrumbs {
    margin-top: 40px;
}

.FriendsAreaContainer {
    margin-bottom: 32px;
    :last-child {
        margin-bottom: 0;
    }
}

.Title {
    font: $FM400-28-34;
    color: $main;
    text-align: center;
    margin: 39px 0 17px;
}

.SearchBlockComponent {
    margin-bottom: 64px;
}

.FriendsArea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 32px 24px;
    padding: 0;
}

@media (max-width: 980px) {
    .FriendsArea {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .FriendsArea {
        grid-template-columns: 1fr 1fr;
        gap: 24px 4px;
    }
}

@media (max-width: 768px) {
    .FriendsAreaContainer {
        margin-top: 28px;
        margin-bottom: 80px;
    }
}

@media (max-width: 550px) {
    .Title {
        font: $FM400-20-24;
        text-align: start;
        margin-bottom: 32px;
    }
}
