.Friends {
    min-height: 100vh;
}

.Breadcrumbs {
    margin-top: 40px;
}

.FriendsAreaContainer {
    margin-top: 64px;
    margin-bottom: 138px;
}

.Title {
    font: $FM400-28-34;
    color: $main;
    text-align: center;
    margin: 39px 0 17px;
}

@media (max-width: 768px) {
    .FriendsAreaContainer {
        margin-top: 28px;
        margin-bottom: 80px;
    }
}

@media (max-width: 550px) {
    .Title {
        font: $FM400-20-24;
        text-align: start;
        margin-bottom: 32px;
    }
}
