.LoaderContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    z-index: 2;
    pointer-events: none;
    transition: 0.2s;
    opacity: 0;
}

.Spinner {
    width: 312px;
    height: 312px;
}

.Visible {
    opacity: 1;
    pointer-events: unset;
}
