.GiftsForStar {
    margin-bottom: 80px;
    ul {
        margin: 0;
        list-style: none;
    }
}

.Title {
    font: $FM400-28-34;
    color: $main;
    margin: 0;
    margin-bottom: 40px;
}

.StarList {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 904px;
}

.ListItem {
    &:last-of-type {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.ButtonPrev {
    top: 132px;
    left: 0;
}

.ButtonNext {
    top: 132px;
    right: 0;
}

@media (max-width: 768px) {
    .StarList {
        grid-template-columns: 1fr 1fr;
        height: auto;
    }
    .Title {
        font: $FM300-20-24;
        margin-bottom: 36px;
    }
}

@media (max-width: 768px) {
    .StarList {
        gap: 30px;
        grid-template-columns: 1fr;
    }
}
