.GiftsForStar {
    margin-bottom: 80px;
}

.Title {
    font: $FM400-28-34;
    color: $main;
    margin: 0;
    margin-bottom: 40px;
}

.StarList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    .StarList {
        grid-template-columns: 1fr 1fr;
    }
    .Title {
        font: $FM300-20-24;
        margin-bottom: 36px;
    }
}

@media (max-width: 768px) {
    .StarList {
        gap: 30px;
        grid-template-columns: 1fr;
    }
}
