.InformationForUser {
    list-style-type: none;
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-areas:
        'left center right'
        'left bottom right';
    grid-template-columns: 230px 1fr 220px;
    max-width: 1142px;
    margin: 0 auto;
    width: 100%;
}

.LeftGridArea {
    grid-area: left;
    padding: 0;
}

.CenterGridArea {
    grid-area: center;
    padding: 0;
    font: $FM400-14-17;
    color: white;
    margin: 2px auto 0 auto;
}

.BottomGridArea {
    grid-area: bottom;
    padding: 0;
    margin: 2px auto;
}

.RightGridArea {
    grid-area: right;
    padding: 0;
}

.LinkForUser {
    position: relative;
    font: $FM400-14-17;
    color: white;
    margin: 0;
    text-decoration: none;
}

.LinkUnderLine {
    border-bottom: 1px solid white;
}

@media (max-width: 768px) {
    .InformationForUser {
        grid-template-areas:
            'center'
            'bottom'
            'left'
            'right';
        grid-template-columns: 230px;
        gap: 15px;
        text-align: center;
        width: max-content;
    }
}
