.Card {
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 24px 20px 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr max-content max-content;
    align-items: center;
    justify-items: center;
    gap: 18px;
    max-width: 242px;
    max-height: 285px;
    margin: 0 auto;
}

.Image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.Title {
    margin: 0;
    font: $FM400-16-20;
    color: $main;
    text-decoration: none;
}

.Button {
    width: 200px;
    margin-top: 10px;
}
