.AuthButton {
    font: $FM400-20-24;
    color: $accent;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.Content {
    display: grid;
    grid-template-rows: 1fr max-content;
    align-items: center;
    justify-items: center;
    padding: 40px 24px;
    box-sizing: border-box;
}

.Button {
    width: 245px;
}
