.Faq {
    max-width: 700px;
}

.Title {
    color: $main;
    font: $FM400-28-34;
    text-align: center;
    margin: 0;
}

.Description {
    color: $main;
    font: $FM400-20-24;
    margin-top: 16px;
    margin-bottom: 0;
    text-align: center;
    padding: 0;
}

.Accordion {
    margin-top: 40px;
    padding: 0;
    list-style-type: none;
}

@media (max-width: 768px) {
    .Faq {
        padding: 0 18px;
    }
    .Title {
        text-align: start;
        font: $FM400-20-24;
    }
    .Description {
        text-align: start;
        font: $FM400-16-20;
    }
    .Accordion {
        margin-top: 28px;
    }
}