.CloseButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    position: relative;
    margin: 0 auto;
    background: none;
    display: grid;
    align-items: center;
    justify-content: center;
}