.Container {
    max-width: 1146px;
    padding-left: 18px;
    padding-right: 18px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
}

.Root {
    background-color: $main-bg;
    min-height: 100vh;
}

.Hidden {
    display: none;
}
