// MONTSERRAT
// FW300
$FM300-35-43: 300 35px/43px Montserrat;
$FM300-20-24: 300 20px/24px Montserrat;

// FW400
$FM400-12-15: 12px/15px Montserrat;
$FM400-14-17: 14px/17px Montserrat;
$FM400-14-25: 14px/25px Montserrat;
$FM400-16-20: 16px/20px Montserrat;
$FM400-16-30: 16px/30px Montserrat;
$FM400-18-25: 18px/25px Montserrat;
$FM400-20-24: 20px/24px Montserrat;
$FM400-24-25: 24px/25px Montserrat;
$FM400-28-34: 28px/34px Montserrat;

// FW500
$FM500-12-15: 500 12px/15px Montserrat;
$FM500-16-22: 500 16px/22px Montserrat;
$FM500-18-22: 500 18px/22px Montserrat;
$FM500-18-30: 500 18px/30px Montserrat;

// FW600
$FM600-16-22: 600 16px/22px Montserrat;
$FM600-20-24: 600 20px/24px Montserrat;
$FM600-32-39: 600 32px/39px Montserrat;
