.RangeInput {
    width: 64px;
    height: 24px;
    border-radius: 5px;
    padding-left: 2px;
    &::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
        appearance: none;
    }
}

.RangeSlider {
    position: relative;
    height: 2px;
    border-radius: 10px;
    background-color: $gray;
    width: auto;
    display: grid;
    grid-template-columns: max-content minmax(0, 1fr) max-content;
    z-index: 1;
}

.TrackWrapper {
    overflow: hidden;
}

.Dvider {
    height: 20px;
}

.ProgressLine {
    background-color: $accent;
    height: 2px;
    width: 100%;
    border-radius: 10px;
}

.Knob {
    position: absolute;
    transform: translate(0, -50%);
    width: 14px;
    height: 14px;
    background-color: $main-bg;
    border-radius: 50%;
    border: 2px solid $gray;
    cursor: pointer;
    z-index: 100;
}

.KnobValue {
    font: $FM400-14-17;
    color: $main;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 24px;
    width: max-content;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
    &:before {
        content: '';
        border: 12px solid transparent;
        border-bottom: 12px solid #ffffff;
        position: absolute;
        left: 50%;
        margin-left: -12px;
        top: -18px;
        width: 0;
    }
}

.KnobRight {
    right: 0;
    z-index: 105;
}

.InputsArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
}

.InputContainer {
    font: $FM400-16-20;
    color: $main;
    position: relative;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 4px;
    align-items: center;
    margin-top: 45px;
}
